﻿@using SocialGame.Web.Resources
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/Scripts/Custom/tagCloud.js")
<hgroup class="title">
    <h1>@Resources.TagCloud</h1>

</hgroup>

<ul>
    <li><span style="cursor: pointer" onclick="getTags();">@Resources.ViewTags</span></li>
    <li><span style="cursor: pointer" onclick="getRelationshipTags('@HttpContext.Current.User.Identity.Name');">@Resources.ViewRelationshipTags</span></li>
    @if(Request.IsAuthenticated)
    {
        <li><span style="cursor: pointer" onclick="getTagForUserName('@HttpContext.Current.User.Identity.Name');">@Resources.ViewMyTags</span></li>
        <li><span style="cursor: pointer" onclick="getFriendshipTagForUserName('@HttpContext.Current.User.Identity.Name');">@Resources.ViewMyFriendshipTags</span></li>
    }
</ul>
<div id="myCanvasContainer" style="text-align: center">
    <canvas width="600" height="600" id="myCanvas">
        <ul id="tagList" />
    </canvas>
</div>

<script>
    var urlGetTagForUserName = "@Url.Action("GetTagForUserName", "TagCloud")";
    var urlGetFriendshipTagForUserName = "@Url.Action("GetFriendshipTagForUserName", "TagCloud")";
    var urlGetTags = "@Url.Action("GetTags", "TagCloud")";
    var urlGetRelationshipTags = "@Url.Action("GetRelationshipTags", "TagCloud")";
</script>




