﻿@model SocialGame.Web.Models.ViewModels.FriendSearchViewModel
@using SocialGame.Web.Resources

<div id="SearchResults">
    <h2>@Resources.SearchUser</h2>

    @Html.TextBoxFor(m => m.SearchSetting)
    @Ajax.ActionLink(Resources.Search, "SearchFriends", "Friendship", new { userName = Model.MyUserProfile.UserName }, new AjaxOptions { UpdateTargetId = "SearchResults" }, new { id = "searchLink" })

    @if(Model.SearchResults != null)
    {
        if(Model.SearchResults.Count > 0)
        {
            foreach(SocialGame.Web.Models.UserProfile candidateFriend in Model.SearchResults)
            {
                @Html.DisplayFor(modelItem => candidateFriend.UserName)
                @Ajax.ActionLink(Resources.SendFriendRequest, "SendFriendRequest", "Friendship", new { friendUserId = candidateFriend.UserId, myUserId = Model.MyUserProfile.UserId }, new AjaxOptions { UpdateTargetId = "SearchResults" })
            }
        }
        else
        {
            <text>@Resources.NoResultFound</text>
        }
    }

</div>
<script>
    $('#searchLink').click(function () {
        var searchSetting = $('#SearchSetting').val();
        this.href = this.href + '&searchSetting=' + searchSetting;
    });
</script>

