﻿@using SocialGame.Web.Resources
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Resources.AppName</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink(Resources.AppName, "Index", "Home")</p>
            </div>
            <div class="float-left">
                @Html.ActionLink(Resources.Portuguese, "SetLanguage", "Home", new { languageCode = "pt-PT" }, new { style = "background: url('./Images/ptFlag.jpg') no-repeat center right; text-indent: -9999px; display:block; height:48px; width:48px;" })
            </div>
            <div class="float-left">
                @Html.ActionLink(Resources.English, "SetLanguage", "Home", new { languageCode = "en-US" }, new { style = "background: url('./Images/ukFlag.jpg') no-repeat center right; text-indent: -9999px; display:block; height:48px; width:48px;" })

            </div>
            <div class="float-left">
               <a href="#"></a>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink(Resources.Home, "Index", "Home")</li>
                        @if(Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink(Resources.Profile, "Index", "UserProfile", new { userName = HttpContext.Current.User.Identity.Name }, null)</li>
                            <li>@Html.ActionLink(Resources.Friendships, "Index", "Friendship", new { userName = HttpContext.Current.User.Identity.Name }, null)</li>
                        }
                        <li>@Html.ActionLink(Resources.TagCloud, "Index", "TagCloud")</li>
                        <li>@Html.ActionLink(Resources.LeaderBoard, "Index", "LeaderBoard", new { userName = HttpContext.Current.User.Identity.Name}, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>

    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - @Resources.Footer</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/Custom/tagCloud.js")

    @RenderSection("scripts", required: false)
</body>
</html>
