﻿@model System.Web.Mvc.HandleErrorInfo
@using SocialGame.Web.Resources
@{
    ViewBag.Title = Resources.Error;
}

<hgroup class="title">
    <h1 class="error">@Resources.Error .</h1>
    <h2 class="error">@Resources.ErrorOcurredProcessingRequest.</h2>
</hgroup>
