﻿@model SocialGame.Web.Models.ViewModels.LeaderBoardViewModel

<h2>LeaderBoard</h2>
<p></p>
<p></p>
<p></p>
<h3 style="text-align: left">Strength Leader Board</h3>
<table style="float: left">
    <tr>
        <th>Position</th>
        <th>Username</th>
        <th>Points</th>
    </tr>
    @{
        int i = 0;
        foreach(Tuple<string, int> item in Model.RelationLeaderBoard)
        {
            i++;
        <tr>
            <td>
                @i.ToString()
            </td>
            <td>
                @Html.DisplayFor(v => item.Item1)
            </td>
            <td>
                @Html.DisplayFor(v => item.Item2)
            </td>
        </tr>
        }
    }
</table>
<h3 style="text-align: right">Friends Leader Board </h3>
<table style="float: right">
    <tr>
        <th>Position</th>
        <th>Username</th>
        <th>Points</th>
    </tr>
    @{
        int j = 0;
        foreach(Tuple<string, int> item in Model.StrengthLeaderBoard)
        {
            j++;
        <tr>
            <td>
                @j.ToString()
            </td>
            <td>
                @Html.DisplayFor(v => item.Item1)
            </td>
            <td>
                @Html.DisplayFor(v => item.Item2)
            </td>
        </tr>
        }
    }
</table>






