﻿@using SocialGame.Web.Resources

<hgroup class="title">
    <h1 style="color: #000000">@Resources.Welcome</h1>
</hgroup>
<div style="text-align: center">
    <img width="500" src="./Images/4code.png" />
</div>


