﻿@model SocialGame.Web.Models.ViewModels.FriendshipViewModel
@using SocialGame.Web.Resources
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")

@Html.Partial("_FriendSearch", new SocialGame.Web.Models.ViewModels.FriendSearchViewModel() { MyUserProfile = Model.MyUserProfile})

<h2>@Resources.MyFriends</h2>
<ul>
@foreach(SocialGame.Web.Models.UserProfile friend in Model.MyFriends)
{
    <li>@Html.DisplayFor(modelItem => friend.UserName)   @Html.ActionLink(Resources.ViewProfile, "ViewFriendProfile", "Friendship", new { friendUserId = friend.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName },null) <p></p></li>  
    
}
</ul>
<h2>@Resources.FriendRequests</h2>

@if(Model.FriendRequests.Count > 0)
{
    foreach(SocialGame.Web.Models.UserProfile friend in Model.FriendRequests)
    {
        @Html.DisplayFor(modelItem => friend.UserName)
        @Html.ActionLink(Resources.ViewProfile, "ViewUserProfile", "Friendship", new { friendUserId = friend.UserId, myUserId = Model.MyUserProfile.UserId },null)
        @Html.ActionLink(Resources.Accept, "AcceptFriendRequest", "Friendship", new { friendUserId = friend.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName },null)
        @Html.ActionLink(Resources.Ignore, "IgnoreFriendRequest", "Friendship", new { friendUserId = friend.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName }, null)    
    }
}
else
{
    <text>@Resources.NoFriendRequests</text>
}

@if(Model.FriendSuggestion != null)
{
    <h2>@Resources.FriendSuggestion</h2>
    @Html.DisplayFor(model => model.FriendSuggestion.UserName)
}