﻿@model SocialGame.Web.Models.ViewModels.FriendshipViewModel
@using SocialGame.Web.Resources

<h2>@Model.MyFriendRequestProfile.UserName @Resources.Profile</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendRequestProfile.FirstName)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendRequestProfile.FirstName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendRequestProfile.LastName)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendRequestProfile.LastName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendRequestProfile.Country)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendRequestProfile.Country)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendRequestProfile.City)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendRequestProfile.City)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendRequestProfile.Mood.Description)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendRequestProfile.Mood.Description)
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink(Resources.AcceptFriendship, "AcceptFriendRequest", "Friendship", new { friendUserId = Model.MyFriendRequestProfile.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName }, null)
        </td>
        <td>
            @Html.ActionLink(Resources.IgnoreFriendship, "IgnoreFriendRequest", "Friendship", new { friendUserId = Model.MyFriendRequestProfile.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName }, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink(Resources.BackToMyFriends, "Index", "Friendship", new { userName = Model.MyUserProfile.UserName }, null)
        </td>
    </tr>
</table>

