﻿@model SocialGame.Web.Models.ViewModels.FriendshipViewModel
@using SocialGame.Web.Resources

<h2>@Html.DisplayFor(modelItem => Model.MyFriendProfile.UserName)  Friends</h2>
<ul>
    @foreach(SocialGame.Web.Models.UserProfile friend in Model.MyFriendFriends)
    {
        <li>@Html.DisplayFor(modelItem => friend.UserName)   @if(!Model.MyFriends.Any(m => m.UserName == friend.UserName) && friend.UserName != Model.MyUserProfile.UserName) { @Html.ActionLink(Resources.SendFriendInvitation, "SendFriendInvitation", "Friendship", new { friendUserId = friend.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName }, null) }
            <p></p>
        </li>     
    }
</ul>

@Html.ActionLink(Resources.BackToMyFriends, "Index", "Friendship", new { userName = Model.MyUserProfile.UserName },null)


