﻿@model SocialGame.Web.Models.ViewModels.FriendshipViewModel
@using SocialGame.Web.Resources

<h2>@Model.MyFriendProfile.UserName @Resources.Profile</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.FirstName)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.FirstName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.LastName)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.LastName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.Email)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.Email)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.Address)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.Address)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.Country)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.Country)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.City)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.City)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.ZipCode)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.ZipCode)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.BirthDate)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.BirthDate)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.Telephone)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.Telephone)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyFriendProfile.Mood.Description)
        </th>
        <td>
            @Html.DisplayFor(model => model.MyFriendProfile.Mood.Description)
        </td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink(Resources.View+" " + Model.MyFriendProfile.UserName + Resources.Friendss, "ViewMyFriendFriends", "Friendship", new { friendUserId = Model.MyFriendProfile.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName }, null)
        </td>
        <td>
            @Html.ActionLink(Resources.DeleteFriend, "DeleteFriend", "Friendship", new { friendUserId = Model.MyFriendProfile.UserId, myUserId = Model.MyUserProfile.UserId, myUserName = Model.MyUserProfile.UserName }, new { onclick = "return confirm('Are you sure you want to delete ?')" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink(Resources.BackToMyFriends, "Index", "Friendship", new { userName = Model.MyUserProfile.UserName },null)
            </td>
    </tr>
</table>

