﻿@model SocialGame.Web.Models.ViewModels.FriendshipRelationViewModel
@using SocialGame.Web.Resources
@Scripts.Render("~/bundles/jquery")
<h2>@Resources.FriendshipRelation? </h2>

@Html.DropDownListFor(
    x => x.SelectedRelationType,
    new SelectList(Model.RelationTypes), new  { id = "cbRelationType" }
)

@Html.ActionLink(Resources.Confirm, "ConfirmFriendshipRelation", "Friendship", new { friendUserId = Model.FriendUserId, myUserId = Model.MyUserId, myUserName = Model.MyUserName }, new { id = "confirmFriendshipActionLink" })

<script>
    $('#confirmFriendshipActionLink').click(function () {
        var relationType = $('#cbRelationType').val();       
        this.href = this.href + '&relationType=' + relationType;
    });
</script>