﻿@model SocialGame.Web.Models.UserProfile
@using SocialGame.Web.Resources

<h2>My Profile</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <td>
            @Html.DisplayFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <td>
            @Html.DisplayFor(model => model.Address)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <td>
            @Html.DisplayFor(model => model.Country)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <td>
            @Html.DisplayFor(model => model.City)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <td>
            @Html.DisplayFor(model => model.ZipCode)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <td>
            @Html.DisplayFor(model => model.BirthDate)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <td>
            @Html.DisplayFor(model => model.Telephone)
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mood.Description)
        </th>
        <td>
            @Html.DisplayFor(model => model.Mood.Description)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.UserId })
        </td>
    </tr>
</table>
